<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
       

   <!-- 개인 테스트용을 위한 임베디드 DB 사용 -->
    <jdbc:embedded-database id="dataSourceSpied" type="H2" >
        <jdbc:script location="classpath:database/hsqldb-schema.sql" />
        <jdbc:script location="classpath:database/hsqldb-dataload.sql" />
    </jdbc:embedded-database>


 	<!-- 일반 디비 연결시에 활성화 -->

	<!-- HikariCP configuration 2.3.X 버전용
	<bean id="dataSourceSpied" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
		<property name="driverClassName" value="com.sybase.jdbc4.jdbc.SybDataSource" />
		<property name="jdbcUrl" value="jdbc:sybase:Tds:172.16.1.144:12200/pmsdb?CHARSET=utf8" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>
	-->

	<!-- HikariCP configuration 2.4.X 버전용
	<bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
		<property name="driverClassName" value="com.sybase.jdbc4.jdbc.SybDataSource" />
		<property name="jdbcUrl" value="jdbc:sybase:Tds:172.16.1.144:12200/pmsdb?CHARSET=utf8" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>

	<bean id="dataSourceSpied" class="com.zaxxer.hikari.HikariDataSource">
		<constructor-arg ref="hikariConfig" />
	</bean>
	-->


	<!-- 일반 dbcp 버전용
	<bean id="dataSourceSpied" class="org.apache.commons.dbcp.BasicDataSource"  destroy-method="close">
		<property name="driverClassName" value="com.sybase.jdbc3.jdbc.SybDriver"/>
		<property name="url" value="jdbc:sybase:Tds:172.16.1.144:12200/pmsdb?CHARSET=utf8"/>
		<property name="username" value="sa"/>
		<property name="password" value=""/>
	</bean>
	-->


<!-- 일반 dbcp2 버전용
	<bean id="dataSourceSpied" class="org.apache.commons.dbcp2.BasicDataSource"  destroy-method="close">
		<property name="driverClassName" value="com.sybase.jdbc4.jdbc.SybDriver"/>
		<property name="url" value="jdbc:sybase:Tds:172.16.1.144:12200/pmsdb?CHARSET=utf8"/>
		<property name="username" value="sa"/>
		<property name="password" value=""/>
	</bean>
-->



	<bean id="dataSource" class="net.sf.log4jdbc.Log4jdbcProxyDataSource">
		<constructor-arg ref="dataSourceSpied" />
		<property name="logFormatter">
			<bean class="net.sf.log4jdbc.tools.Log4JdbcCustomFormatter">
				<property name="loggingType" value="MULTI_LINE" />
				<property name="sqlPrefix" value="SQL:::" />
			</bean>
		</property>
	</bean>


	<!-- MyBatis Setting 
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
	<bean id="sqlSessionFactoryBean" class="com.common.RefreshableSqlSessionFactoryBean">

	-->


	<bean id="sqlSessionFactoryBean" class="com.common.RefreshableSqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="typeAliasesPackage" value="com.pine.web.domain" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="mapperLocations" value="classpath:com/pine/web/**/*Mapper.xml" />
	</bean>
	
	
    <!-- scan for mappers and let them be autowired-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.pine.web.persistence" />
    </bean>
	 
    <!-- transaction manager, use JtaTransactionManager for global tx -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
   	<!-- enable autowire -->
    <context:annotation-config />

    
    <!-- enable transaction demarcation with annotations--> 
    <tx:annotation-driven />
    

    	

    
</beans>